##
# Platformio
##
.pioenvs
.piolibdeps

##
# Vagrant
##
.vagrant

##
# CMake
##
CMakeFiles/
CMakeCache.txt
Makefile
cmake_install.cmake

##
# Project Files
##
notes.md
docs/
build/
runTests

##
# Vim 
##
.swp
